
.bottone {
    width: 50vw;
    height: 15vw;
    border-radius: 25px;
    border: 1px solid black;
    font-family: Helvetica;
    font-size: 5vw;
    margin-top: 5vw;
    margin-left: 25vw;
}

h1 {
    font-family: Helvetica;
    text-align: center;
    font-size: 8vw;
}

p {
    font-family: Helvetica;
    text-align: center;
    font-size: 7vw;
}

p#feedback {
    font-size: 5vw;
}

#saldo-manuale, #password-manuale {
    width: 50%;
    height: 5vw;
    font-size: 4vw;
}

.bot {
    width: 25vw;
    height: 7vw;
    font-size: 3vw;
}
